
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    background-image: url('../Images/Matrix.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h1 {
    margin: 0;
    font-size: 2.5rem; 
    padding-bottom: 1rem; 
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 40px auto; 
    background: #fff; 
    padding: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.blog-post {
    margin-bottom: 40px;
    padding: 30px; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    font-size: 1.75rem; 
    color: #8d8d8d; 
    margin-bottom: 1rem; 
    padding-bottom: 0.5rem; 
    border-bottom: 2px solid #eee; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post p {
    margin-bottom: 1.5rem;
    text-align: left; 
    text-justify: inter-word; 
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px; 
}
